
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutManga.cshtml";
}

<div <h2 style="font-size: medium; font-family: cursive; color: cornflowerblue ; text-align : center">KẾT QUẢ TÌM KIẾM</h2></div>
<div class="row">
    @foreach (var truyen in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail" style="margin-top :50px">
                <a href="@Url.Action("Chitiettruyen", "Body", new { id = truyen.MaTruyen})">
                    <img alt="@truyen.TenTruyen" src="~/Manga/@truyen.Anhbia" width="200" />
                    <div>
                        <br />
                        <h4 style="text-align:center ">
                            @truyen.TenTruyen
                        </h4>
                    </div>
            </div>
        </div>
    }
</div>


