<div class="list-group">
    @foreach (var tinhtrang in Model)
    {
        <a href="@Url.Action("TinhTrangTruyen","Auth", new {id = tinhtrang.MaTinhTrang})" class="list-group-item"> @tinhtrang.TenTinhTrang</a>

    }
</div>

